eHPS.API.Test/Service References/WYService/n_webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempurl.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempurl.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempurl.org">
      <s:element name="f_get_data">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="as_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="as_data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="as_return" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="f_get_dataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="f_get_dataResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="as_data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="as_return" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="f_get_dataSoapIn">
    <wsdl:part name="parameters" element="tns:f_get_data" />
  </wsdl:message>
  <wsdl:message name="f_get_dataSoapOut">
    <wsdl:part name="parameters" element="tns:f_get_dataResponse" />
  </wsdl:message>
  <wsdl:portType name="n_webserviceSoap">
    <wsdl:operation name="f_get_data">
      <wsdl:input message="tns:f_get_dataSoapIn" />
      <wsdl:output message="tns:f_get_dataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="n_webserviceSoap" type="tns:n_webserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="f_get_data">
      <soap:operation soapAction="http://tempurl.org/f_get_data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="n_webserviceSoap12" type="tns:n_webserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="f_get_data">
      <soap12:operation soapAction="http://tempurl.org/f_get_data" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="n_webservice">
    <wsdl:port name="n_webserviceSoap" binding="tns:n_webserviceSoap">
      <soap:address location="http://192.168.1.233/webservice/n_webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="n_webserviceSoap12" binding="tns:n_webserviceSoap12">
      <soap12:address location="http://192.168.1.233/webservice/n_webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>